<!DOCTYPE html>
<html lang="en">
<head>
  <title>Crear un Producto</title>
  <link rel="stylesheet" href="/css/crearProducto.css"></link>
  <script defer src="./jsProducyo/jsCrearP.js"></script>
  <%-include("../partials/head")%>
</head>

<body class="body">
  <%-include("../partials/header")%>
  <main>
    <!--última visita-->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
              <form action="/crearProducto" method="POST" enctype="multipart/form-data">
                <div class="row product-detail">
                  <div class="encabezado col-12">
                    <h3 class="products-title">Formulario de creación de productos</h3>
                  </div>
                  <div class="col-12 col-md-6 entradas">
                    <label for="categoria" class="form-label">Categoria del producto:</label><br>
                    <select name="categoria" id="categoria" class="form-input">
                      <option value="categoria"> </option>
                      <% for (let i of c){ %>
                        <option value="<%= i.id%>"> <%= i.nombre%> </option>
                      <% } %>
                    </select>
                  </div>
                  <div class="col-12 col-md-6 entradas">
                    <label for="nombre" class="form-label">Nombre del producto:</label><br>
                    <input type="text" id="nombre" name="nombre" placeholder= "Shampoo Capilar" class="form-input">
                  </div>
                  <div class="col-12 col-md-6 entradas">
                    <label for="marca" class="form-label">Marca del producto:</label><br>
                    <select name="marca" id="marca" class="form-input">
                      <option value="marca"> </option>
                      <% for (let i of m){ %>
                        <option value="<%= i.id%>"> <%= i.nombre%> </option>
                      <% } %>
                    </select>
                  </div>
                  <div class="col-12 col-md-6 entradas">
                    <label for="precio" class="form-label">Precio del producto:</label><br>
                    <input type="text" id="precio" name="precio" placeholder= "30.000" class="form-input">
                  </div> 
                  <div class="col-12 col-md-6 entradas">
                    <label for="descripcion" class="form-label">Descripcion del producto:</label><br>
                    <textarea type="text" id="descripcion" name="descripcion" placeholder= "Producto extrahidratante para el cabello" class="form-input"></textarea>
                  </div> 
                  <div class="col-12 col-md-6 entradas">
                    <label for="imagen" class="form-label">Cargar imagen del producto:</label><br>
                    <input type="file" name="imagen" id="imagen" multiple/></input>
                  </div> 
                  <div class="col-12 box-boton">
                    <button type="submit" class="boton">Guardar</button>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>
  </main>
  <%-include("../partials/footer")%>
</body>
</html>

