<!DOCTYPE html>
<html lang="es"> 

<head>
  <title>Detalle de producto</title>
  <link rel="stylesheet" href="/css/Home.css"></link>
  <%-include("../partials/head")%>
</head>

<body class="body">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <%-include("../partials/header")%>
  <main>
    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12">
          <h3>Detalle del producto: <%= productos.nombre%></h3>
        </div>
      </div>
      <div class="row row-cols-2">
        <div class="col">
          <img src="<%=productos.imagen %>" class="img-fluid" alt="imagen de producto">
          <p><%= productos.descripcion%></p>
        </div>
        <div class="col">
          <p>PRECIO</p>
          <p>$<%= productos.precio%></p>
          <p>DESCUENTO</p>
          <p><%= productos.descuento%>%</p>
          <p>PRECIO FINAL</p>
          <p><%= (( (100 -productos.descuento) * productos.precio)/100) %> </p>
          <p>Paga en 12 cuotas sin interes</p>
          <p>Disponible para retiro en tienda</p>
          <div class="form-group col-md-6">
            <label for="inputState">Cantidad</label>
            <select id="inputState" class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <p>
            <button class="btn btn-round btn-danger" type="button"><i class="fa fa-shopping-cart"></i> Agregar al carrito</button>
          </p>
          <a href="/editarProducto/<%= productos.id%>" class="action-button edit"> Editar Producto</a>
          <form action="/<%= productos.id%>?_method=DELETE" method="POST" style="display: inline-flex">
            <button type="submit" class="action-button delete">Eliminar Producto</button>
          </form>
        </div>
      </div>
    </div>
</main>
  <%-include("../partials/footer")%>
</body>
</html>
