<!DOCTYPE html>
<html lang="en">
<head>
  <title>Editar producto</title>
  <link rel="stylesheet" href="/css/crearProducto.css"></link>
  <%-include("../partials/head")%>
</head>

<body class="body">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <%-include("../partials/header")%>
  <main>
    <!--última visita-->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h3 class="products-title">Estas editando el producto : <%= productos.nombre%> </h3>
            </div>
            <div class="col-12">
              <form action="/editarProducto/<%= productos.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="row product-detail">
                  <div class="col-12 col-md-6" id="entradas">
                    <label for="categoria" class="form-label">Categoria del producto:</label><br>
                    <select name="categoria" id="categoria" class="form-input">
                        <% if (productos.categoria== "cuidado personal"){%>
                            <option value="cuidado personal" selected>Cuidado Personal</option>
                            <option value="maquillaje">Maquillaje</option>
                            <option value="fragancias">Fragancias</option>
                            <option value="electricos">Electricos</option>
                            
                        <%}%>
                        <% if (productos.categoria== "maquillaje"){%>
                            <option value="cuidado personal">Cuidado Personal</option>
                            <option value="maquillaje" selected>Maquillaje</option>
                            <option value="fragancias">Fragancias</option>
                            <option value="electricos">Electricos</option>
                            
                        <%}%>
                        <% if (productos.categoria== "fragancias"){%>
                            <option value="cuidado personal">Cuidado Personal</option>
                            <option value="maquillaje" selected>Maquillaje</option>
                            <option value="fragancias" selected>Fragancias</option>
                            <option value="electricos">Electricos</option>
                            
                        <%}%>
                        <% if (productos.categoria== "electricos"){%>
                            <option value="cuidado personal">Cuidado Personal</option>
                            <option value="maquillaje">Maquillaje</option>
                            <option value="fragancias">Fragancias</option>
                            <option value="electricos" selected>Electricos</option>
                            
                        <%}%>
                    </select>
                  </div>
                  <div class="col-12 col-md-6" id="entradas">
                    <label for="nombre" class="form-label">Nombre del producto:</label><br>
                    <input type="text" id="nombre" name="nombre" placeholder= "Shampoo Capilar" class="form-input" value="<%=productos.nombre%>">
                  </div>
                  <div class="col-12 col-md-6" id="entradas">
                    <label for="marca" class="form-label">Marca del producto:</label><br>
                    <input type="text" id="marca" name="marca" placeholder="Natura" class="form-input" value="<%=productos.marca%>">
                  </div>
                  <div class="col-12 col-md-6" id="entradas">
                    <label for="precio" class="form-label">Precio del producto:</label><br>
                    <input type="text" id="precio" name="precio" placeholder= "30.000" class="form-input" value="<%=productos.precio%>">
                  </div> 
                  <div class="col-12 col-md-6" id="entradas">
                    <label for="descripcion" class="form-label">Descripcion del producto:</label><br>
                    <textarea type="text" id="descripcion" name="descripcion" placeholder= "Producto extrahidratante para el cabello" class="form-input"> <%=productos.descripcion%> </textarea>
                  </div> 
                  <div class="col-12 col-md-6" aria-inval id="entradas">
                    <label for="imagen" class="form-label">Cargar imagen del producto:</label><br>
                    <input type="file" name="imagen" id="imagen" multiple/></input>
                  </div> 
                  <div class="col-12 col-md-6" id="entradas">
                    <label for="descuento" class="form-label">Descuento del producto:</label><br>
                    <input type="text" id="descuento" name="descuento" placeholder= "20" class="form-input" value="<%=productos.descuento%>">
                  </div> 
                  <div class="col-12">
                    <button type="submit" class="button">Guardar producto</button>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>
  </main>
  <%-include("../partials/footer")%>
</body>
</html>

