<!DOCTYPE html>
<html lang="en">
<head>
  <title>Maquillaje</title>
  <link rel="stylesheet" href="/css/Home.css"></link>
  <%-include("../partials/head")%>
</head>

<body class="body">
    <%-include("../partials/header")%>
  <main>
    <div class="container">
        <div class="row">
            <div class="encabezado">
                <h3>Categorias populares</h3>
            </div>
            <div class="contenedor-producto">
                <%for(let p of producto){%>
                    <div class="contenedor-for">
                        <a href="/detalleProducto/<%=p.id %>">
                            <div class="contenedor-imagen">
                                <img src="<%=p.imagen %>" class="img-fluid" alt="imagen de producto">
                            </div>
                        </a> 
                            <div class="contenedor-datos">
                                <div class="datos">
                                    <p class="precio">$ <%=p.precio%> COP</p>
                                    <p class ="letra"><i class="fas fa-truck"></i> Envio gratis  </p>
                                    <p class ="nombre"><%=p.nombre%></p>
                                </div>
                            </div> 
                    </div> 
                <% } %>   
            </div>
            
        </div>
    </div>
  </main>
  <%-include("../partials/footer")%>
</body>
</html>