<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/css/home.css"></link>
  <%-include("partials/head")%>
</head>

<body class="body">
    <%-include("partials/header")%>
  <main>
    <div class="container">
        <div class="row">
            <div class="encabezado">
                <h3>Todos los productos</h3>
            </div>
            <div class="contenedor-producto">
                <%for(let p of producto){%>
                    <div class="contenedor-for">
                        <a href="/detalleProducto/<%=p.id %>">
                            <div class="contenedor-imagen">
                                <img src="<%=p.imagen %>" class="img-fluid" alt="imagen de producto">
                            </div>
                        </a> 
                            <div class="contenedor-datos">
                                <div class="datos">
                                    <p>$<%=p.precio%></p>
                                    <p><%=p.nombre%></p>
                                </div>
                                <div class="iconProducto">
                                    <i class="fas fa-truck"></i>
                                </div>
                            </div> 
                    </div> 
                <% } %>   
            </div>
            
        </div>
    </div>
  </main>
  <%-include("partials/footer")%>
</body>
</html>