<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Registro</title>
    <link rel="stylesheet" href="/css/login.css"></link>
    <%-include("../partials/head")%>
  </head>
  %>
  <body class="body">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <%-include("../partials/header")%>
    <main>
      <div class="container">
        <div class="row">
          <div class="col">
            <h3 class="products-title">Registrarse</h3>
            <div class = "box-form-user">
                <form action="/registro" method="POST" enctype="multipart/form-data">
                <div class="form-outline mb-3" id="datos_usuario">
                  <label for="nombre" class="form-label" >Nombre:</label><br>
                  <input type="name" id="nombreUser" name="nombreUser" class="form-input" value="<%= locals.datosUsuarioViejo && datosUsuarioViejo.nombreUser ? datosUsuarioViejo.nombreUser: '' %>"/>
                </div>
                <% if (locals.errores && errores.nombreUser){ %>
                  <div class="text-errores">
                    <p><%= errores.nombreUser.msg%></p>
                  </div>
                <% } %>
                <div class="form-outline mb-3" id="datos_usuario">
                  <label for="apellido" class="form-label">Apellidos:</label><br>
                  <input type="apellido" id="apellidoUser" name="apellidoUser" class="form-input" value="<%= locals.datosUsuarioViejo && datosUsuarioViejo.apellidoUser ? datosUsuarioViejo.apellidoUser: '' %>" />
                </div>
                <% if (locals.errores && errores.apellidoUser){ %>
                  <div class="text-errores">
                    <p><%= errores.apellidoUser.msg%></p>
                  </div>
                <% } %>

                <div class="form-outline mb-4" id="datos_usuario">
                  <label for="email" class="form-label" >Correo Electrónico:</label><br>
                  <input type="email" id="emailUser" name="emailUser" class="form-input" value="<%= locals.datosUsuarioViejo && datosUsuarioViejo.emailUser ? datosUsuarioViejo.emailUser: '' %>"/>
                </div>
                <% if (locals.errores && errores.emailUser){ %>
                  <div class="text-errores">
                    <p><%= errores.emailUser.msg%></p>
                  </div>
                <% } %>

                <div class="form-outline mb-3" id="datos_usuario">
                  <label for="contrasena" class="form-label">Contraseña</label><br>
                  <input type="password" id="contrasenaUser" name="contrasenaUser" class="form-input" placeholder="Contraseña"/>
                </div>
                <% if (locals.errores && errores.contrasenaUser){ %>
                  <div class="text-errores">
                    <p><%= errores.contrasenaUser.msg%></p>
                  </div>
                <% } %>
                <div class="form-outline mb-3" id="datos_usuario">
                <label for="categoriaUser" class="form-label">Categoria</label><br>
                  <select name="categoriaUser" id="categoriaUser">
                    <option value="">Seleccione una opción</option>
                    <option value="admin" <%= locals.datosUsuarioViejo && datosUsuarioViejo.categoriaUser ==="admin" ? 'selected': ''; %> >Administrador</option>
                    <option value="comprador" <%= locals.datosUsuarioViejo && datosUsuarioViejo.categoriaUser ==="comprador" ? 'selected': ''; %> >Comprador</option>
                  </select>
                </div>
                <div class="form-outline mb-3" aria-inval id="datos_usuario">
                  <label for="imagenUser" class="form-label">Cargar imagen de perfil:</label><br>
                  <input type="file" name="imagenUser" id="imagenUser" multiple/></input>
                </div> 

                <div>
                  <input class="form-check-input me-2" type="checkbox" value="" id="terminos" />
                  <label for="terminos" class="form-check-label" > Al hacer clic aquí, acepto los <a href="#!" class="text-body"><u>Términos de uso y la Política de privacidad.</u></a> </label>
                </div>

                <div>
                  <input class="form-check-input me-2" type="checkbox" value="" id="noticias" />
                  <label for="noticias" class="form-check-label" > Regístrese para recibir actualizaciones por correo electrónico. </label>
                </div>

                <div>
                  <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Registrarse</button>
                </div>

              </form> 
            </div>
          </div>
        </div>
        <div class="row">
          <p><a href="/users/acceso" class="link-danger">Accede, si ya tienes una cuenta creada</a></p>
        </div>
      </div>
    </main>   
    <%-include("../partials/footer")%>  
  </body>
</html>
      